.app-modal-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4000;

  main {
    position: relative;
    margin-top: (100vh) * 0.2;
    width: 400px;
    height: 330px;
    z-index: 100;
    overflow: hidden;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
  }

  div {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .app-close-modal:hover {
    color: green;
  }
}
