.app-modal-view {
  width: 100%;
  height: 100%;

  div {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-main {
    position: absolute;
    z-index: 2;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
