$app_midnightGreen: #095256;
$app_seaweed: #08758C;
$app_pine: #5aaa95;
$app_asparagus: #86A873;
$app_amber: #bb9f06;
$app_violet: #a117b2;
$app_yellow: #ffc620;
$app_electricPink: #e207ff;
$app_moss: #1acc9c;
$app_darkMoss: #0eb286;
$app_darkGrey: #333333;
