<div class="app-gallery">
  <app-header
  select-gallery-style="appGalleryCtrl.selectGalleryStyle(style)">
  </app-header>

  <div class="gallery-item-container">

    <app-list-item
    ng-repeat="item in appGalleryCtrl.images"
    ng-show="appGalleryCtrl.galleryStyle === 'list'"
    image="item">
    </app-list-item>

    <app-thumb-item
    ng-repeat="item in appGalleryCtrl.images"
    ng-show="appGalleryCtrl.galleryStyle === 'thumb'"
    image="item">
    </app-thumb-item>

    <app-image-item
    ng-repeat="item in appGalleryCtrl.images"
    ng-show="appGalleryCtrl.galleryStyle === 'image'"
    image="item">
    </app-image-item>

  </div>
</div>
