<section class="app-gallery">
  <button ng-click="appGalleryCtrl.activateLinkView()"> Links </button> <button ng-click="appGalleryCtrl.activateThumbView()"> Thumbnails </button>   <button ng-click="appGalleryCtrl.activateFullView()"> Full View </button>

  <form novalidate ng-submit="appGalleryCtrl.addImageFull()">
    <label for="title">title: </label>
    <input name="title" type="text" ng-model="appGalleryCtrl.ImageFull.title">
    <label for="description">description: </label>
    <input type="text" ng-model="appGalleryCtrl.ImageFull.description">
    <label for="imgSrc">image source:</label>
    <input type="text" ng-model="appGalleryCtrl.ImageFull.imgSrc">
    <input type="submit" value="create item">
  </form>
  <ul ng-show="appGalleryCtrl.linkView">
    <app-image-link ng-repeat="image in appGalleryCtrl.images" title="{{image.title}}" img-link-url="{{image.link}}" description="{{image.description}}"> </app-image-link>
  </ul>
  <div class="app-gallery-container" ng-show="appGalleryCtrl.thumbView">
    <app-image-thumb ng-repeat="image in appGalleryCtrl.images" image="image">
   </app-image-thumb>
  </div>
  <div class="app-gallery-container" ng-show="appGalleryCtrl.fullView">
    <app-image-full ng-repeat="image in appGalleryCtrl.images" title="{{image.title}}" description="{{image.description}}" img-src="{{image.imgSrc}}"> </app-image-full>
  </div>
</section>
