<section class = 'app-gallery'>

  <form novalidate ng-submit = "appGalleryCtrl.addGalleryItem()">
    <label for = "title">title:<label>
    <imput name = "title" type: "text" ng-model="appGalleryCtrl.galleryItem.title">
    <label for = "desc">desc:</label>
    <input type = "text" ng-model = "appGalleryCtrl.galleryItem.desc">
    <label for = "imgSrc">image source:</label>
    <input type = "text" ng-model = "appGalleryCtrl.galleryItem.imgSrc">
    <input type = "submit" value: "create item">
  </form>

  <ul>

    <app-gallery-item ng-repeat = "item in appGalleryCtrl.images" title: "{{item.title}}" desc: "{{item.desc}}" img-src="{{item.img}}"

  </ul>

</section>
