<section class="app-gallery">
  <input type="button" ng-click="appGalleryCtrl.thumbnailView()" name="name" value="Thumbnail">
  <input type="button" ng-click="appGalleryCtrl.listView()" name="name" value="List">
  <input type="button" ng-click="appGalleryCtrl.tileView()" name="name" value="Tile">
  <div ng-show="appGalleryCtrl.views.list" class="list-view">
    <h2>List View</h2>
    <ul>
      <app-gallery-text ng-repeat="item in appGalleryCtrl.images" title="{{ item.title }}" desc="{{ item.desc}}" img-src="{{ item.imgSrc }}" ></app-gallery-text>
    </ul>
  </div>
  <div ng-show="appGalleryCtrl.views.thumbnail" class="thumbnail-view">
    <h2>Thumbnail View</h2>
    <ul>
      <app-gallery-thumbnail ng-repeat="item in appGalleryCtrl.images" img-src="{{item.imgSrc}}"></app-gallery-thumbnail>
    </ul>
  </div>
  <div ng-show="appGalleryCtrl.views.tile" class="gallery">
    <h2>Tile View</h2>
    <ul>
      <app-gallery-item ng-repeat="item in appGalleryCtrl.images" title="{{item.title}}" desc="{{item.desc}}" img-src="{{item.imgSrc}}"> </app-gallery-item>
    </ul>
  </div>
</section>
