.display-list {
  display: list-item;
  color: grey;
  background-color: white;
  border: medium solid black;
  border-radius: 5px;
  text-align: left;
  padding: 2px;
  margin: 2px;
  font-size: .75em;

}
