@import "../../scss/_theme.scss";

.app-gallery-item-thumbnail {
   margin: 5px;
   padding: 5px;
   img:hover {
    opacity: 50%;
    border-style: solid;
    border-width: thick;
    border-color: $app_violet;
  }
}
