@import "vendor/normalize.scss";
@import "_theme";

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $app-white;

}

body main ul, li {
  list-style-type:none;
}

div {
  border: 10px solid black;
}
