@import "_theme";

.app-image-link {
  li {
    display: inline-block;
    float: left;
    width: 500px;
    padding: 10px;
    border-width: 0.25 em;
    border-color: #1582BD;
    background-color: #1582BD;
  }
}
