@import "_theme";

.app-img-item {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .app-desc {
    //font-size: 0.9em;
    margin-top: 4px;
    margin-left: -4px;
    padding: 10px;
    float: right;
    border-top: 4px solid $app-dark;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 4px 4px $app-dark;
    background-color: $app-light;
    width: 120px;
    height: 164px;
    overflow: hidden;

    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 120px;
  }

  img {
    display: inline-block;
    border-left: 4px solid $app-dark;
    border-top: 4px solid $app-dark;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px $app-light;
    background-color: $app-light;
    height: 164px;
  }

}

.app-img-item:hover {
  .app-desc {
    border-top: 4px solid $app-light;
    box-shadow: 4px 4px $app-light;
    background-color: $app-dark;
    color: $app-light;
  }

  img {
    border-left: 4px solid $app-light;
    border-top: 4px solid $app-light;
  }
}
