@import "vendor/normalize.css";
@import "_theme.scss";

body {
  background-color: $app-background;
}

.app-main h1 {
  text-align: center;
  text-decoration: overline;
  text-decoration: underline;
}
