@import "../../scss/_theme.scss";

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

img {
  border: solid thick $app-borderMain;
}
